body {
    background-color: #292C35;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
}

.counter_window {
    border: 1px solid #63DBFD;
    border-radius: 10px;
    padding: 20px;
}
.settings_window {
    border: 1px solid #63DBFD;
    border-radius: 10px;
    padding: 20px;
}
.display {
    /*background-color: #63DBFD;*/
    background-color: #292C35;
    border: 1px solid #63DBFD;
    margin: 10px auto;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #63DBFD;
    .error_input {
        background-color: red;
        border: 1px solid red;
        color: black;
    }
    .error {
        color: red;
    }
}
.input{
    width: 100px;
    border-radius: 5px;
}
.buttons {
    min-width:150px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #63DBFD;
    border-radius: 10px;
    background-color: #292C35;
    gap: 15px;
    padding: 10px 0;
}

.button {
    background-color: #63DBFD;
    border: #63DBFD;
    border-radius: 10px;
}

.button_disabled {
    opacity: 0.5;
    border: none;
    border-radius: 10px;
}